.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background: #286286;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background: rgba(230, 233, 234, 0.5);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
  top: 10px;
}

.App-link {
  color: #09d3ac;
}

.dropBorder {
  border-radius: 25px;
  display: inline-block;
  position: relative;
  border: dashed grey 4px;
}

.dropBorderDragging {
  border-radius: 25px;
  background-color: rgba(63, 191, 127, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

table {
  border: 1px solid grey;
  border-collapse: separate;
  padding: 10px;
  text-align: left;
  font-size: calc(10px + 2vmin);
}

td, th{
  padding-left: 10px;
  text-align: left;
}

.hasIssues{
  color: red;
}

.isClean{
  color: green;
}

.loader{
  width: 100%;
  height: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
