.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background: #286286;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background: rgba(230, 233, 234, 0.5);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
  top: 10px;
}

.App-link {
  color: #09d3ac;
}

.dropBorder {
  border-radius: 25px;
}

.dropBorderDragging {
  border-radius: 25px;
}

table {
  border: 1px solid grey;
  border-collapse: separate;
  padding: 10px;
  text-align: left;
  font-size: calc(10px + 2vmin);
}

td, th{
  padding-left: 10px;
  text-align: left;
}

.hasIssues{
  color: red;
}

.isClean{
  color: green;
}

.logo{
  position: absolute;
  top: 5px;
  left: 20px;
}
